<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleDisplayName</key>
		<string>Joie</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(MARKETING_VERSION)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.176344180297-3kopi4ebr7gl18j3qo6dd9hi2p5tu7o4</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>fb245242334663978</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>$(CURRENT_PROJECT_VERSION)</string>
		<key>FacebookAppID</key>
		<string>245242334663978</string>
		<key>FacebookClientToken</key>
		<string>ce7f7cc24a1ffed6899008b8024fe302</string>
		<key>FacebookDisplayName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>fbapi</string>
			<string>fb-messenger-share-api</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSExceptionDomains</key>
			<dict>
				<key>localhost</key>
				<dict>
					<key>NSExceptionAllowsInsecureHTTPLoads</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string></string>
		<key>UIAppFonts</key>
		<array>
			<string>Inter-Black.ttf</string>
			<string>Inter-Bold.ttf</string>
			<string>Inter-ExtraBold.ttf</string>
			<string>Inter-ExtraLight.ttf</string>
			<string>Inter-Light.ttf</string>
			<string>Inter-Medium.ttf</string>
			<string>Inter-Regular.ttf</string>
			<string>Inter-SemiBold.ttf</string>
			<string>Inter-Thin.ttf</string>
			<string>PlayfairDisplay-Black.ttf</string>
			<string>PlayfairDisplay-BlackItalic.ttf</string>
			<string>PlayfairDisplay-Bold.ttf</string>
			<string>PlayfairDisplay-BoldItalic.ttf</string>
			<string>PlayfairDisplay-ExtraBold.ttf</string>
			<string>PlayfairDisplay-ExtraBoldItalic.ttf</string>
			<string>PlayfairDisplay-Italic.ttf</string>
			<string>PlayfairDisplay-Medium.ttf</string>
			<string>PlayfairDisplay-MediumItalic.ttf</string>
			<string>PlayfairDisplay-Regular.ttf</string>
			<string>PlayfairDisplay-SemiBold.ttf</string>
			<string>PlayfairDisplay-SemiBoldItalic.ttf</string>
			<string>Poppins-Black.ttf</string>
			<string>Poppins-Regular.ttf</string>
			<string>Poppins-SemiBold.ttf</string>
			<string>Poppins-Bold.ttf</string>
			<string>Poppins-ExtraBold.ttf</string>
			<string>Poppins-ExtraLight.ttf</string>
			<string>Poppins-Light.ttf</string>
			<string>Poppins-Medium.ttf</string>
			<string>Poppins-Italic.ttf</string>
			<string>Poppins-Thin.ttf</string>
			<string>Poppins-BlackItalic.ttf</string>
			<string>Poppins-BoldItalic.ttf</string>
			<string>Poppins-ExtraBoldItalic.ttf</string>
			<string>Poppins-ExtraLightItalic.ttf</string>
			<string>Poppins-LightItalic.ttf</string>
			<string>Poppins-MediumItalic.ttf</string>
			<string>Poppins-SemiBoldItalic.ttf</string>
			<string>Poppins-ThinItalic.ttf</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIRequiredDeviceCapabilities</key>
		<array>
			<string>armv7</string>
		</array>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>NSMicrophoneUsageDescription</key>
		<string>Need to access your microphone.</string>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
	</dict>
</plist>
