<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176344180297-nhh2lei8pmja71vq7t1n7n2vbeshnnhv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176344180297-nhh2lei8pmja71vq7t1n7n2vbeshnnhv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>176344180297-n3tggfq09qnk3ktrni1n92tl1bd7hrdj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCR87iNabfE1IlNj9Lfn4p4CuiHCf2ELXk</string>
	<key>GCM_SENDER_ID</key>
	<string>176344180297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.joieapp</string>
	<key>PROJECT_ID</key>
	<string>joie-c2494</string>
	<key>STORAGE_BUCKET</key>
	<string>joie-c2494.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176344180297:ios:dfda3be11d9dc817048198</string>
</dict>
</plist>